table {
    margin-left: auto;
    margin-right: auto;
}
#atribuudid{
    background-color: aliceblue;
}
.table-sortable th{
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after, 
.table-sortable .th-sort-desc::after {
    margin-left: 10px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    backround: rgba(213, 36, 36, 0.1);
}
